*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    background-color: #EAEAEA;
    height: 8vh;
}

.Left_Column{
    width: 25%;
    float: left;
    padding: 4px;
    background-color: #c8fc98;  
    margin-right: 10px;
}

.Right_Column{
    width: 200px;
    height: 87vh;
    float: right;
    padding: 4px;
    background-color: #FDE95E;  
}

p{
    line-height: 150%;
}

span{
    font-style: italic;
    color: red;
}

footer{
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
}

a{
    color: yellow;
}

article{
    padding: 4px;
}