footer{
    background-color: bisque;
    margin: 10px;
}

div{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    margin: 14px;
}

p{
    margin-top: 0px;
}