*{
    margin: 0;
    box-sizing: border-box;
}

.first{
    margin: 0 auto;
    width: 500px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.second{
    margin: 0 auto;
    width: 500px;

    padding: 50px;
    border: 10px solid blue;
}